:root {
  --clr-primary: #36d633;
  --clr-secondary: white;
  --clr-shadow-primary: #fff;
  --clr-shadow-secondary: #0fa;

  --ff-primary: monospace, sans-serif;
  --ff-secondary: "Brush Script MT", sans-serif;
}

*,
*::before,
*::after { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

.body {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  list-style-type: none;
  display: flex;
  margin: 8px;
  gap: 12px;
}

.header-text-container {
  list-style-type: none;
  margin: 8px;
  gap: 24px;
  font-family: var(--ff-secondary);
  font-size: 48px;
  color: var(--clr-primary);
  text-shadow:
    0 0 7px var(--clr-shadow-primary),
    0 0 10px var(--clr-shadow-primary),
    0 0 21px var(--clr-shadow-primary),
    0 0 42px var(--clr-shadow-secondary),
    0 0 82px var(--clr-shadow-secondary),
    0 0 92px var(--clr-shadow-secondary),
    0 0 102px var(--clr-shadow-secondary),
    0 0 151px var(--clr-shadow-secondary);
}

.instructions {
  color: var(--clr-secondary);
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: var(--ff-primary);
}

#selectionButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#selectionButtonsContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttons-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#rock, #paper, #scissors {
  border: none;
  width: 140px;
  height: 140px;
}

.image-rock, .image-paper, .image-scissors {
  width: 140px;
  height: 140px;
}

#resultsContainer {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#resetButtonContainer {
    text-align: center;
}

#resetButton {
    font-family: var(--ff-primary);
}

#footer {
    display: flex;
    justify-content: center;
}

#footer-info {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
}

#footer-text {
    color: var(--clr-secondary);
    font: 20px;
}

.github-logo {
    padding: 5px;
}