*,
*::before,
*::after { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

.body {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
    border: 2px solid red;
    } 

.header-title {
  list-style-type: none;
  display: flex;
  margin: 8px;
  gap: 12px;
}

.header-text-container {
  list-style-type: none;
  margin: 8px;
  gap: 24px;
  font-family: "Brush Script MT", sans-serif;
  font-size: 48px;
  color: #36d633;

  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.instructions {
  color: white;
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

#selectionButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#selectionButtonsContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttons-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#rock, #paper, #scissors {
  border: none;
  width: 140px;
  height: 140px;
}

.image-rock, .image-paper, .image-scissors {
  width: 140px;
  height: 140px;
}

#resultsContainer {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#resetButtonContainer {
    text-align: center;
}

#footer {
    display: flex;
    justify-content: center;
}

#footer-info {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position:fixed;
    bottom:0;
}

#footer-text {
    color: white;
}