:root {
  --clr-primary: #000000;
  --clr-secondary: white;
  --clr-gradient-primary: #5affff;
  --clr-gradient-secondary: #8000ff;
  --clr-hover: #51a5ff;

  --ff-primary: monospace, sans-serif;
}

*,
*::before,
*::after { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

html {
  background-image: linear-gradient(to right, var(--clr-gradient-primary), var(--clr-gradient-secondary));
}

.body {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  list-style-type: none;
  display: flex;
  margin: 8px;
  gap: 12px;
}

.header-text-container {
  list-style-type: none;
  margin: 8px;
  gap: 24px;
  font-family: var(--ff-primary);
  font-size: 48px;
  color: var(--clr-secondary);
}

.instructions {
  color: var(--clr-secondary);
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: var(--ff-primary);
}

.selectionButtonsContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttons-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#rock, #paper, #scissors {
  border: solid 1px gray;
  border-radius: 2rem;
  width: 140px;
  height: 70px;
}

button:hover {
  cursor: pointer;
  background-color: var(--clr-hover);
}

.image-rock, .image-paper, .image-scissors {
  width: 140px;
  height: 140px;
}

#resultsContainer {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.reset-button-container {
    text-align: center;
}

#resetButton {
    font-family: var(--ff-primary);
}

.footer {
    display: flex;
    justify-content: center;
}

.footer-info {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
}

.footer-text {
    color: var(--clr-secondary);
    font: 20px;
}

.github-logo {
    width: 25px;
    height: 25px;
    margin: 5px;
}